# Local .terraform directories
**/.terraform/*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
override.tfvars
*_override.tfvars

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# infracost files
.infracost

# Crash log files
crash.log
